body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #262626;
}

.loading{
    display: flex;
}

.loading span{
    width: 30px;
    height: 200px;
    background-color:aqua;
    margin: 0 20px;
    animation: animate 1.4s infinite;
}

@keyframes animate {
    0%{
        box-shadow: 0 0 0 rgba(0, 0, 0, 0.1);
        opacity: 0;
        transform: translateX(-50px) scale(1);
    }
    50%{
        box-shadow: 0 0 0 rgba(0, 0, 0, 1);
        opacity: 1;
        transform: translateX(0) scale(1.2);
    }
    100%{
        box-shadow: 0 0 0 rgba(0, 0, 0, 0.1);
        opacity: 0;
        transform: translateX(50px) scale(1);
    }
}